extends helpers/template.pug 

block sections 
  section#services
    div
      h1 Services I Offer 
      
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nobis, id eum doloremque necessitatibus praesentium deserunt in quae unde magni?

    .sector
      section.services
        h2 Services I Offer

        - const services = ['wedding', "fashion", "landscape", "studio", "outdoor", "products"];

          each service in services
            div(modal="book-session", dp)
              .service-image(modal="book-session", dp)
                img.bts(src=`opt-images/stock/services_${service}.webp` alt=service, modal="book-session" dp)
                h4= service
                button.bts book this


      section.expertise
        h2 My Expertise Area
        div
          svg(icon="photo-edit")
          h4 Editing
          span Enhancing your photo to it's highest beauty.
          
        div
          svg(icon="video")
          h4 Videography
          span Quality shoots for all your skits and events.

        div
          svg(icon="camera")
          h4 Photography
          span You don't even have to be photogenic.

        div
          svg(icon="frame")
          h4 Framing 
          span Framing and all other finishing touches.



  section.faq 

    h2 Custommer Ratings 

    .reviews
      .review
        - let m = 0;
        .stars 
          while m < 5
            svg(icon='star')= m++

        .event-type 
          span wedding
          
        article 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ad minus exercitationem repudiandae labore officiis eveniet dolores libero, odit laborum nemo a eum, placeat pariatur beatae aliquid odio atque.

        .reviewer 
          svg(icon="user-circle")
          span Juliet Sepawu



      .review
        - let o = 0;
        .stars 
          while o < 5
            svg(icon='star')= o++

        .event-type 
          span fashion
          
        article 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ad minus exercitationem repudiandae labore officiis eveniet dolores libero, odit laborum nemo a eum, placeat pariatur beatae aliquid odio atque.

        .reviewer 
          svg(icon="user-circle")
          span Juliet Sepawu



      .review
        - let p = 0;
        .stars 
          while p < 5
            svg(icon='star')= p++

        .event-type 
          span commercial
          
        article 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ad minus exercitationem repudiandae labore officiis eveniet dolores libero, odit laborum nemo a eum, placeat pariatur beatae aliquid odio atque.

        .reviewer 
          svg(icon="user-circle")
          span Juliet Sepawu



      .review
        - let r = 0;
        .stars 
          while r < 5
            svg(icon='star')= r++

        .event-type 
          span wedding
          
        article 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ad minus exercitationem repudiandae labore officiis eveniet dolores libero, odit laborum nemo a eum, placeat pariatur beatae aliquid odio atque.

        .reviewer 
          svg(icon="user-circle")
          span Juliet Sepawu

    .scrollers
      .east
        svg(icon="arrow-narrow-left", class="east")
      .west
        svg(icon="arrow-narrow-right", class="west")


      


    h2 Frequetly Asked Questions 

    img(src="opt-images/stock/faq-illu.webp", alt="")

    .QnA 
      div
        div.q
          .person
            svg(icon='user-question')
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero cumque error et dolor corrupti distinctio suscipit modi asperiores exercitationem praesentium!

        p.a Yes, I do this but I do it this and that way. It takes this and that time. It cost this and that.
        p.h

      div 
        div.q
          .person
            svg(icon='user-question') 
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, quisquam.
        p.a Yes, I do this but I do it this and that way. It takes this and that time. It cost this and that.
        p.h



      div 
        div.q 
          .person 
            svg(icon='user-question') 
        
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt ab ex numquam!

        p.a Yes, I do this but I do it this and that way. It takes this and that time. It cost this and that.
        p.h


        
      div 
        .q 
          .person
            svg(icon='user-question') 

          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et eligendi tempore aliquid molestiae, itaque dolorem perspiciatis delectus! Quia, ipsum necessitatibus ad tempora ullam magni sint est! Distinctio sed praesentium cupiditate!

        p.a Yes , I do this but I do it this and that way. It takes this and that time. It cost this and that.
        p.h



      div 
        .q 
          .person 
            svg(icon='user-question') 

          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam minima placeat, dolores aliquam quis.

        p.a Yes, I do this but I do it this and that way. It takes this and that time. It cost this and that.
        p.h


      div
        .q
          .person
            svg(icon='user-question') 

          
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consgkgjgequuntur hic nobis commodi esse autem placeat dfdghffgodit aliquam, repudiandae incidunt!
        p.a Yes, I do this but I do it this and that way. It takes this and that time. It cost this and that.
        p.h


        



block scripts
  script(src="ugly-js/services-min.js" type="module" defer)